<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tabla de posiciones</title>
    <meta name="description"
        content="Tabla de Posiciones de la Primera División de Argentina. Temporada Liga Profesional.">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link href="../styles/main.css" rel="stylesheet">
    <meta name="keywords"
        content="Primera División de Argentina, Tabla de Posiciones Primera División de Argentina, Tabla de Posiciones Primera División de Argentina Liga Profesional, Tabla de Posiciones Primera División de Argentina temporada Liga Profesional">
    <meta property="og:image" content="https://cdn.futbolargentino.com/images/logo-300.jpg">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Tabla de Posiciones - Primera División de Argentina - Liga Profesional">
    <meta property="og:description"
        content="Tabla de Posiciones de la Primera División de Argentina. Temporada Liga Profesional.">
    <meta name="geo.placename" content="Argentina">
    <meta name="geo.position" content="-34.6037;-58.3815">
    <meta name="geo.region" content="AR">
    <meta name="ICBM" content="-34.6037, -58.3815">
    <meta name="language" content="spanish">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap" rel="stylesheet">
</head>

<body>

    {{{body}}}
    <script src="../scripts/index.js"></script>
</body>

</html>