<div class="bigContainer">
    <h1>
        <span>Tabla de Posiciones de la Primera División de Argentina</span>
    </h1>

    <div class="tableContainer">
        <div>
            <h2>Liga Profesional</h2>
            <table>
                <thead>
                    <tr>
                        <th class="pos">Pos</th>
                        <th>Equipo</th>
                        <th>PJ</th>
                        <th>G</th>
                        <th>E</th>
                        <th>P</th>
                        <th class="gf">GF</th>
                        <th class="gc">GC</th>
                        <th class="dg">DG</th>
                        <th>Pts</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>
</div>