<div class="bigContainer">
    <h1>
        <span>Tabla de Posiciones de la Primera División de Argentina</span>
    </h1>

    <div class="container">
        <div class="tableContainer">
            <h2>Liga Profesional</h2>
            <table>
                <thead>
                    <tr>
                        <th class="pos">Pos</th>
                        <th>Equipo</th>
                        <th>PJ</th>
                        <th>G</th>
                        <th>E</th>
                        <th>P</th>
                        <th class="gf">GF</th>
                        <th class="gc">GC</th>
                        <th class="dg">DG</th>
                        <th>Pts</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>
    <section>

        <div class="code">

            This is a scraping challenge for Mustang Cloud.
            <a href="https://github.com/Tomyred/ScrappingApp" target="_blank" rel="noreferrer">
                <img src="	https://img.icons8.com/color/48/000000/github.png" alt="github">
                Here the code
            </a>
        </div>
    </section>
</div>